<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSCRIPCION DE CURSO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_form.css') }}">
</head>
<body>
    <div class="form-container">
<h2>Inscripción en curso</h2>
<form method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" required><br>
    <label for="apellidos">Apellidos:</label>
    <input type="text" name="apellidos" required><br>
    <label for="curso">Curso:</label>
    <select name="curso">
        <option value="Curso 1">Matematica</option>
        <option value="Curso 2">Lenguaje</option>
        <option value="Curso 2">Quimica</option>
        <option value="Curso 2">Biologia</option>
        <option value="Curso 2">Finansas Publicas</option>
    </select><br>
    <button type="submit">Enviar</button>
</form>
</div>
</body>
</html>
